#contact{
	background: $accentGold;
	color: white;
	padding: 8.5rem 0;
	position: relative;
	.sectionHeader{
		border-color: white;
		margin-top: 2rem;
		i{
			font-size: 4rem;
		}
	}
	.iconHolder{
		background: $accentGold;
	}
	h3{
		letter-spacing: 0.1rem;
	}
	p{
		text-align: center;
		margin: 4rem 0 5rem 0;
		font-style: italic;
		font-size: 1.8rem;
	}
	.fa-rotate-45{
		color: white;
		position: absolute;
		left: 50%;
		bottom: 1.4rem;
	}
	button{
		border: 0.1rem solid white;
		outline-offset: 0.3rem;
		outline: 0.1rem solid white;
		padding: 1.5rem 9rem;
		background: $accentGold;
		color: white;
		&:hover{
			color: $accentGold;
			background: white;
			border: 0.1rem solid $accentGold;
		}
	}
}
form{
	margin: 0 auto;
}
.inputContainer{
	display: flex;
	justify-content: space-between;
	@include responsive("custom"){
		padding: 0 2rem;
	}
	@include responsive("medium"){
		flex-direction: column;
	}
}
.inputHolder{
	width: calc(100% / 3);
	position: relative;
	margin: 0 1.75rem;
	@include responsive("medium"){
		width: 100%;
		margin: 0;
	}
	&:first-child{
		margin-left: 0;
		@include responsive("medium"){
			margin-bottom: 3.5rem;
		}
	}
	&:last-child{
		margin-right: 0;
		@include responsive("medium"){
			margin-top: 3.5rem;
		}
	}
	.iconHolder{
		position: absolute;
		top: 0;
		width: 4rem;
		height: 2rem;
		.fa-rotate-45{
			transform: translateX(-50%) rotate(45deg);
		}
	}
}
input, textarea{
	background: $accentGold;
	border: 0.1rem solid white;
	padding: 1.5rem 0 1rem 2rem;
	color: white;
	font-size: 1.4rem;
	line-height: 3.2rem;
	&::placeholder{
		color: white;
		font-size: 1.4rem;
		line-height: 3.2rem;
	}
}
input{
	width: 100%;
}
textarea{
	width: 100%;
	margin: 3.5rem 0;
	resize: none;
	@include responsive("custom"){
		margin-left: 2rem;
		margin-right: 2rem;
		width: calc(100% - 4rem);
	}
}
.upArrow{
	background: $paleGold;
	position: relative;
	bottom: -10.8rem;
}