header{
	background: linear-gradient(rgba(84, 84, 84, 0.6), rgba(84, 84, 84, 0.6)), url('../../assets/brett.jpg');
	background-position: center right;
	background-repeat: no-repeat;
	background-position: cover;
	color: white;
	padding: 3.5rem 0 2rem 0;
	.fa{
		margin: 2rem 0;
	}
}
.logo{
	width: 6rem;
	height: 7rem;
}
.navBar{
	display: flex;
	justify-content: space-between;
}
nav{
	display: flex;
	justify-content: space-between;
	font-size: 1.2rem;
	font-weight: 700;
	text-transform: uppercase;
	font-family: $headFont;
	div{
		display: flex;
		align-items: center;
	}
	a{
		padding: 1rem 2rem;
		border: 0.1rem solid transparent;
		&:hover{
			border-color: white;
		}
	}
}
.menuButton{
	display: none;
	font-size: 5rem;
	&:hover{
		color: $accentGold;
	}
	@include responsive("medium"){
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
}
.headingBar{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 10rem 0 8rem 0;
}
.mainHeading{
	padding: 2.5rem 6.5rem;
	margin-bottom: 3rem;
	border: 0.3rem solid white;
}
.downArrow{
	border: 0.2rem solid white;
	color: $accentGold;
}