header{
	background: linear-gradient(rgba(32, 32, 32, 0.75), rgba(32, 32, 32, 0.75)), url('../assets/brett.jpg');
	background-position: center right;
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	height: 100vh;
	padding: 2rem 0;
	@include responsive("custom"){
		background-position: center center;
	}
	@include responsive("medium"){
		height: auto;
	}
	@include responsive("small"){
		background-position: center left 35%;
	}
	.fa{
		margin: 2rem 0;
	}
}
.logo{
	width: 6rem;
	height: 7rem;
	margin-left: 2rem;
}
.navBar{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
nav{
	display: flex;
	justify-content: space-between;
	font-size: 1.2rem;
	font-weight: 700;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
	font-family: $headFont;
	@include responsive("medium"){
		right: -25vw;
		width: 25vw;
		top: 0;
		bottom: 0;
		position: fixed;
		flex-direction: column;
		justify-content: space-around;
		transition: all 0.3s;
		z-index: 10;
		background: linear-gradient(rgba(32, 32, 32, 0.75), rgba(32, 32, 32, 0.75));
	}
	@include responsive("small"){
		right: -33vw;
		width: 33vw;
	}
	div{
		display: flex;
		align-items: center;
	}
	a{
		padding: 1rem 2rem;
		border: 0.1rem solid transparent;
		&:hover, &:active, &:focus{
			border-color: white;
			outline: none;
			transition: all 0.3s;
		}
	}
}
.menuOpen, .menuClose{
	display: none;
	font-size: 5rem;
	margin: 0 2rem;
	&:hover{
		color: $accentGold;
	}
	@include responsive("medium"){
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}
}
.open{
	right: 0;
}
.closed{
	visibility: hidden;
}
.headingBar{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 10rem 0 8rem 0;
}
.mainHeading{
	padding: 2.5rem 6.5rem;
	margin-bottom: 3rem;
	border: 0.3rem solid white;
	@include responsive("medium"){
		margin-left: 2rem;
		margin-right: 2rem; 
	}
	@include responsive("small"){
		padding: 2.5rem 2rem;
	}
}
.downArrow{
	border: 0.2rem solid white;
	color: $accentGold;
}