#skills{
	background: $darkGrey;
	color: white;
	text-align: center;
	padding-top: 5rem;
	.fa-rotate-45{
		color: white;
	}
	.decorative{
		margin: 2.5rem 0;
		div{
			background: white;
		}
	}
	h4{
		margin-top: 3rem;
		@include responsive("medium"){
			display: none;
		}
	}
}
.skillsContainer{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-top: 4rem;
	@include responsive("custom"){
		padding: 0 3rem;
	}
}
.skillsItem{
	width: 20%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 5rem;
	@include responsive("custom"){
		width: 25%;
	}
	@include responsive("small"){
		width: calc(100% / 3);
	}
}
.skillsIcon{
	width: 10.5rem;
	height: 10.5rem;
	border: 0.3rem solid $lightGrey;
	transform: rotate(45deg);
	display: flex;
	justify-content: center;
	align-items: center;
	@include responsive("medium"){
		border: none;
	}
	&:hover{
		border: 0.3rem solid $accentGold;
		@include responsive("medium"){
			border: none;
		}
	}
	&:hover span, &:hover i, &:hover img{
		transform: scale(1.2) rotate(-45deg);
		transition: all 0.3s;
	}
	span, i, img{
		width: 6rem;
		font-size: 6rem;
		margin: 0 auto;
		display: block;
		transform: rotate(-45deg);
		@include responsive("medium"){
			width: 8rem;
			font-size: 8rem;
		}
	}
}
img[alt="Firebase icon"]{
	width: 8rem;
	@include responsive("medium"){
		width: 10rem;
	}
}