.social{
	background: $footerGrey;
	color: white;
	padding: 8.5rem 0 5rem 0;
	.fa-rotate-45{
		margin: 2.5rem 0;
	}
}
.socialContact{
	display: flex;
}
.contactItem{
	width: calc(100% / 3);
	text-align: center;
	div{
		height: 4rem;
	}
	img{
		margin: 0 auto;
	}
}
.socialContainer{
	display: flex;
	justify-content: space-between;
	width: 55%;
	margin: 0 auto;
	margin-top: 3rem;
	i{
		width: 3rem;
		color: $accentGold;
		transform: rotate(-45deg);
	}
}
.socialItem{
	width: 9rem;
	height: 9rem;
	margin: 6rem 2rem;
	border: 0.2rem solid white;
	transform: rotate(45deg);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 3rem;
	i:hover{
		color: white;
	}
}