$headFont: 'Montserrat', sans-serif;
$bodyFont: 'Merriweather', serif;
$darkGrey: rgb(84, 84, 84);
$footerGrey: rgb(32, 32, 32);
$accentGold: rgb(198, 156, 109);
$paleGold: rgb(227, 206, 183);
$lightGrey: rgb(170, 170, 170);